body{
    background-color: #343a40;
}

.contaier{
    padding: 3rem;
}

.navbar-brand{
    cursor: pointer;
}

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensure spinner is on top */
    width: 100%; /* Ensure it covers full width */
    height: 100%; /* Ensure it covers full height */
    display: flex;
    justify-content: center;
    align-items: center;
}


#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px; /* Center the snackbar */
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2s;
    animation: fadein 0.5s, fadeout 0.5s 2s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {opacity: 1;} 
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 1;} 
    to {opacity: 0;}
}